In [1]:
import pandas as pd
import numpy as np
from pandas import ExcelFile
from pandas import ExcelWriter

In [2]:
df = pd.read_csv("Big Table.csv", header=0, sep=',',thousands=',')
df['Renewable percentage %'] = df['Renewable percentage %'].str.rstrip('%').astype('float')

In [3]:
df1=df.dropna().copy()
df1 = df1[df1.Year != 2020]
df1=df1.drop(['Unnamed: 0'],axis=1)
df1.to_csv('big table after missing values.csv')

Outliers

In [13]:
df = pd.read_csv("big table after missing values.csv", header=0, sep=',',thousands=',')
df=df.drop(['Unnamed: 0'],axis=1)

In [14]:
def outlier_detection_iqr(df):
    df2 = df.copy()
    for col in list(df2.columns):
        if df2[col].dtype != 'object':
            Q1 = np.percentile(df2[col], 25)
            Q3 = np.percentile(df2[col], 75)
            IQR = Q3 - Q1
            df2.loc[(df2[col] < Q1 - 1.5*IQR) | (df2[col] > Q3 + 1.5*IQR ),col]=np.nan
    return df2

df_outlier = outlier_detection_iqr(df)
print(df_outlier.shape)

(2306, 13)

In [15]:
df.shape

(2306, 13)

In [16]:
df

,countries,Year,CO2 Total Mt,CO2 Kg/1k$,CO2 Tons per capita,Generation GWh,consumption GWh,consumption per capita kW,installed capacity MW,Renewable installed capacity MW,Renewable generation GWh,Renewable percentage %,Population
0,france,2019,319.613,0.10,4.88,545014.0,449235.0,6673.1,137082.0,48533.0,116141.0,21.31,67320216
1,france,2018,327.585,0.11,5.02,551544.0,449957.0,6698.0,133531.0,45874.0,115984.0,21.03,67177636
2,france,2017,336.046,0.11,5.17,533956.0,455228.0,6791.8,133088.0,42864.0,95159.0,17.82,67026224
3,france,2016,331.913,0.11,5.13,536708.0,457729.0,6851.2,133151.0,39908.0,101197.0,18.86,66809816
4,france,2015,329.518,0.11,5.11,551038.0,450835.0,6765.4,132219.0,37827.0,94122.0,17.08,66638391
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2301,colombia,1994,59.064,0.18,1.60,40864.0,32026.0,894.2,12658.0,7902.0,32416.0,79.33,35817000
2302,colombia,1993,59.493,0.19,1.64,37584.0,29652.0,842.8,12185.0,7695.0,28113.0,74.80,35181000
2303,colombia,1992,56.230,0.19,1.58,32771.0,26624.0,771.2,11024.0,6794.0,22557.0,68.83,34522000
2304,colombia,1991,54.209,0.19,1.55,36374.0,28782.0,850.4,9599.0,6707.0,27479.0,75.55,33845000
2305,colombia,1990,52.525,0.19,1.53,35651.0,28171.0,849.7,8849.0,6608.0,27522.0,77.20,33156000